header {
     min-height: 85px;

     background-color: cadetblue;
     color: #fff;

     font-size: 3rem;
     font-weight: bold;
     line-height: 85px;
     text-align: center;
     text-transform: uppercase;
}
