.selector-not {
     ul {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          background-color: black;
          li {
               padding: 10px 20px;
               // margin-right: 10px;

               text-align: center;
               line-height: 20px;
               border-radius: 20px;

               background-color: bisque;

               // &:last-child {
               //      margin-right: 0;
               // }

               &:not(:last-of-type) {
                    margin-right: 10px;
               }
          }
     }
}
