//Baskerville
@font-face {
     font-family: 'Baskerville';
     src: url('../fonts/Baskerville/Baskerville.ttf');
     font-weight: 400;
     font-display: swap;
}

@font-face {
     font-family: 'Baskerville';
     src: url('../fonts/Baskerville/Baskerville-Italic.ttf');
     font-weight: 400;
     font-style: italic;
     font-display: swap;
}

@font-face {
     font-family: 'Baskerville';
     src: url('../fonts/Baskerville/Baskerville-SemiBold.ttf');
     font-weight: 600;
     font-display: swap;
}

@font-face {
     font-family: 'Baskerville';
     src: url('../fonts/Baskerville/Baskerville-SemiBoldItalic.ttf');
     font-weight: 600;
     font-style: italic;
     font-display: swap;
}

@font-face {
     font-family: 'Baskerville';
     src: url('../fonts/Baskerville/Baskerville-Bold.ttf');
     font-weight: 700;
     font-display: swap;
}

@font-face {
     font-family: 'Baskerville';
     src: url('../fonts/Baskerville/Baskerville-Bold.ttf');
     font-weight: bold;
     font-display: swap;
}

@font-face {
     font-family: 'Baskerville';
     src: url('../fonts/Baskerville/Baskerville-BoldItalic.ttf');
     font-weight: 700;
     font-style: italic;
     font-display: swap;
}

@font-face {
     font-family: 'Baskerville';
     src: url('../fonts/Baskerville/Baskerville-BoldItalic.ttf');
     font-weight: bold;
     font-style: italic;
     font-display: swap;
}
